<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <title>GCC LOGIN</title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    {% load crispy_forms_tags %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 m-auto">
              <div class="card card-body">
                <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>Login</h1>
                  <div class="form-group">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <p>{{form|crispy}}</p>

                        <input type="submit" class="btn btn-danger btn-block" value="Log In">
                    </form>
                  </div>
              </div>
            </div>
        </div>
    </div>

  </body>
</html>
